
.print-container {
    position: relative;
    background-color: white;
    padding: 20px;
}

.date {
    text-align: end;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.data-item-header {
    border-bottom: 1px dotted #333;
    padding: 10px 0;
    margin: 0;
}
.data-item-header .name, .data-item-header .unit, .data-item-header .cost {
    display: inline-block;
    width: 33.33%;
    font-weight: bold;
}
.data-item-header .unit {
    text-align: center;
}
.data-item-header .cost {
    text-align: end;
}

.data-item {
    padding: 6px;
    margin: 0;
}
.data-item:hover {
    background-color: #DAD5E3;
}
.data-item .name, .data-item .unit, .data-item .cost {
    display: inline-block;
    width: 33.33%;
}
.data-item .unit {
    text-align: center;
}
.data-item .cost {
    text-align: end;
}

.data-item-footer {
    border-top: 1px dotted #333;
    padding: 8px 0;
}
.data-item-footer .total-cost, .data-item-footer .cost {
    display: inline-block;
    width: 50%;
    font-weight: bold;
}
.data-item-footer .cost {
    text-align: end;
}