.right-col {
    border-left: 1px dotted #6D6A75;
}

.right-col form i {
    font-size: 14px;
}

.table-label {
    vertical-align: top;
    width: 180px;
}

.bussiness_info td {
    padding: 6px 0;
}

@media screen and (max-width: 992px) {
    .right-col {
        border-left: none !important;
        border-top: 1px dotted #6D6A75;
    }
}
