body{
    background-color: #DEB841;
    font-family: 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
    display: none;
}

.form-control:focus {
    border-color: #37323E !important;
    box-shadow: none !important;
    outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}